* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.important {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table {
    display: grid;
    grid-template-columns: 500px 100px 100px 100px 500px;
}
