* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ef4722;
    --contrast-color: #225cf0;
    --page-background: #f4fde7;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    background-color: var(--page-background);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    inline-size: 800px;
    font-size: 1.4rem;
}

header {
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    block-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    inline-size: 1100px;
    border: 2px solid orange;
    padding: 20px;
}

.important {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

fieldset {
    border: 2px solid var(--primary-color);
    padding: 5px 10px 15px 10px;
}

legend {
    font-weight: 700;
    padding-inline: 3px;
}

.table {
    display: grid;
    max-inline-size: 1100px;
    grid-template-columns: 450px repeat(3, 70px) 1fr;
}

.table > * {
    /*outline: 1px solid blue;*/
    padding: 1px;
}

.table__title {
    font-weight: 600;
    letter-spacing: -1px;
}

.table__title--center {
    text-align: center;
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__radio {
    appearance: none;
    inline-size: 20px;
    aspect-ratio: 1;
    border: 2px solid var(--contrast-color);
    display: grid;
    place-content: center;
    position: relative;
}

.table__radio--positive:before {
    content: "✓";
    inset-block-start: -10px;
    inset-inline-start: 3px;
    font-size: 1.5rem;
}

.table__radio--negative:before {
    content: "✗";
    inset-block-start: -6px;
    inset-inline-start: 1px;
    font-size: 1.6rem;
}

:is(.table__radio--positive, .table__radio--negative)::before {
    inline-size: 9px;
    aspect-ratio: 1;
    transform: scale(0);
    color: var(--contrast-color);
    position: absolute;
}

:is(.table__radio--positive, .table__radio--negative):checked::before {
    transform: scale(1);
}

.table__row--even-background {
    background-color: #e8d3ce;
}

.table__row--odd-background {
    background-color: var(--page-background);
}

.table__text {
    border: none;
    appearance: none;
    padding-inline-start: 4px;
    text-transform: uppercase;
}

.table__text:focus {
    outline: 2px groove gray;
    outline-offset: -2px;
    opacity: 0.7;
}
