* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ef4722;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    inline-size: 800px;
    font-size: 1.4rem;
}

header {
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    block-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-inline-size: 1200px;
    border: 2px solid orange;
    padding: 20px;
}

.important {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table {
    display: grid;
    grid-template-columns: 500px 100px 100px 100px 500px;
}
