* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ef4722;
    --contrast-color: #225cf0;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    background-color: #f4fde7;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    inline-size: 800px;
    font-size: 1.4rem;
}

header {
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    block-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    inline-size: 1100px;
    border: 2px solid orange;
    padding: 20px;
}

.important {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

fieldset {
    border: 2px solid var(--primary-color);
    padding: 5px 10px 15px 10px;
}

legend {
    font-weight: 700;
    padding-inline: 3px;
}

.table {
    display: grid;
    max-inline-size: 1000px;
    grid-template-columns: 450px repeat(3, 90px) 1fr;
}

.table > * {
    /*outline: 1px solid blue;*/
    padding: 1px;
}

.table__title {
    font-weight: 600;
    letter-spacing: -1px;
}

.table__title--center {
    text-align: center;
}

.table__radio {
    border-radius: 0;
    accent-color: var(--contrast-color);
    /*appearance: none;*/
    inline-size: 20px;
    aspect-ratio: 1;
    justify-self: center;
    align-self: center;
}

.table__row--background {
    background-color: #e8d3ce;
}
