* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ef4722;
    --primary-color--light: hsl(11, 86%, 54%);
    --contrast-color: #225cf0;
    --page-background: #f4fde7;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    background-color: var(--page-background);
}

select {
    font-size: 1rem;
    padding: 5px;
}

option:checked {
    background-color: var(--contrast-color);
    color: white;
}

.select-form {
    inline-size: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 10px;
}

.select-form--template {
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea,
input[type="text"],
input[type="date"] {
    font-family: "Noto Sans", sans-serif;
    padding-inline: 5px;
    font-size: 0.85rem;
}

input[type="text"],
input[type="date"] {
    text-transform: uppercase;
}
:is(textarea, input[type="text"], input[type="date"], .table__radio):focus {
    outline: 2px solid var(--primary-color);
    border-color: transparent;
}

.title {
    text-align: center;
    inline-size: 800px;
    font-size: 1.4rem;
}

.title--template {
    margin-block-start: 15px;
    text-transform: uppercase;
}

header {
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    block-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    inline-size: 1100px;
    padding: 20px;
    row-gap: 10px;
}

.user {
    display: flex;
    justify-content: space-around;
    border-block: 1px solid var(--primary-color);
    padding-block: 4px;
}

.important {
    display: grid;
    grid-template-columns: 1fr 30% 1fr 30%;
    column-gap: 20px;
    row-gap: 3px;
    border-block-end: 1px solid var(--primary-color);
    padding-block-end: 10px;
}

.flex-container {
    display: flex;
    column-gap: 7px;
    align-items: baseline;
}

.table-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

fieldset {
    border: 2px solid var(--primary-color);
    padding: 5px 10px 15px 10px;
}

legend {
    font-weight: 700;
    padding-inline: 3px;
}

.table {
    display: grid;
    max-inline-size: 1100px;
    grid-template-columns: 450px repeat(3, 70px) 1fr;
}

.table > * {
    /*outline: 1px solid blue;*/
    padding: 1px;
}

.table__title {
    font-weight: 600;
    letter-spacing: -1px;
}

.table__title--center {
    text-align: center;
}

.radio-square--container {
    display: flex;
    align-items: center;
    column-gap: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.radio-square {
    appearance: none;
    inline-size: 15px;
    aspect-ratio: 1;
    border: 2px solid var(--contrast-color);
    display: inline-grid;
    place-content: center;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.radio-square:before {
    content: "✓";
    inset-block-start: -14px;
    font-size: 1.4rem;
    inline-size: 9px;
    aspect-ratio: 1;
    transform: scale(0);
    color: var(--contrast-color);
    position: absolute;
}

.radio-square:checked:before {
    transform: scale(1);
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__radio {
    appearance: none;
    inline-size: 20px;
    aspect-ratio: 1;
    border: 2px solid var(--contrast-color);
    display: grid;
    place-content: center;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.table__radio--positive:before {
    content: "✓";
    inset-block-start: -12px;
    inset-inline-start: 1px;
    font-size: 1.5rem;
}

.table__radio--negative:before {
    content: "✗";
    inset-block-start: -12px;
    inset-inline-start: -2px;
    font-size: 1.6rem;
}

:is(.table__radio--positive, .table__radio--negative)::before {
    inline-size: 9px;
    aspect-ratio: 1;
    transform: scale(0);
    color: var(--contrast-color);
    position: absolute;
}

:is(.table__radio--positive, .table__radio--negative):checked::before {
    transform: scale(1);
}

.table__row--even-background {
    background-color: #e8d3ce;
}

.table__row--odd-background {
    background-color: var(--page-background);
}

.table__text {
    border: none;
    appearance: none;
    padding-inline-start: 4px;
}

.table__text:focus {
    outline: 2px groove gray;
    outline-offset: -2px;
    opacity: 0.7;
}

.subtitle {
    font-weight: 600;
    text-transform: uppercase;
}

.veredict {
    display: flex;
    column-gap: 150px;
    border-block: 1px solid var(--primary-color);
    padding-block: 4px;
}

textarea {
    block-size: 80px;
    resize: none;
}

.button {
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
    inline-size: fit-content;
    padding: 10px 15px;
    font-weight: 700;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: filter 150ms ease-in;
}

.button--save {
    background-color: var(--primary-color);
}

.button--back {
    background-color: var(--contrast-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.button:hover {
    filter: brightness(0.9);
}

.button:active {
    filter: brightness(1.2);
}

.gap-space {
    display: flex;
    column-gap: 10px;
}

table {
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    margin-block-end: 10px;
}

td,
th {
    padding: 7px 10px;
    text-align: center;
    max-inline-size: 130px;
}

th {
    font-size: 1rem;
}

td {
    font-size: 0.8rem;
}

caption {
    text-align: start;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-block-end: 5px;
}

.table__image-input {
    max-inline-size: 300px;
}

input[type="file"]::file-selector-button {
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
    inline-size: fit-content;
    padding: 4px 6px;
    font-weight: 700;
    border: none;
    color: white;
    font-size: 0.75rem;
    cursor: pointer;
    transition: filter 150ms ease-in;
    background-color: var(--contrast-color);
}

input[type="file"]::file-selector-button:hover {
    filter: brightness(0.9);
}

input[type="file"]::file-selector-button:active {
    filter: brightness(1.2);
}
